/*------ main styles ------*/

body {  
    font: 18px/28px "Droid Serif", Georgia, Times, serif;
	background: #f0f0f0;
	color: #444;
	margin: 0;
	padding: 0;
}

a { 
	text-decoration: none; 
	color:  #f07d00;
	}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: normal;
	padding: 0;
	color: #333;
}

h1 {
	font-size: 24px;
	line-height: 28px;
}

h2 {
	font-size: 20px;
	line-height: 22px;
}

h3 {
	font-size: 16px;
	line-height: 20px;
}

#container {
	width: 100%;
	margin: 0;
	padding: 0;
}

li {
	list-style-type: none;
}

/*------ #header ------*/

#header {
	height: 2.5em;
	width: 100%;
	background-color: #E6E6E6;
	margin: 0;
	padding: 0;
}

#title {
	width: 980px;
	margin: 0 auto;
	padding: 0;
	height: 2.5em;
}

#title h1 {
	float: left;
	margin: 10px 0 0;
}

#title #accordion {
	float: right;
}

#title #accordion h2 {
	line-height: 20px;
	margin: 15px 0 0;
}

#title #accordion h2 a {
	color: #333;
}

#title #accordion #accordion-content {
	display: none;
	float: right;
	width: 500px;
}

/*------ #content ------*/

#content {
	width: 100%;
	margin: 0 auto;
	padding: 0;
}

#sidebar {
	float: left;
	width: 17%;
	height: 600px;
	margin: 30px 0 0 30px;
}

#transcript-hldr, #mashup {
	width: 36%;
	height: 600px;
	float: left;
	overflow: scroll;
	margin: 0;
	padding-right: 15px;
}

#transcript, #mashup {
	/*color: #999999;*/
}

#transcript-body span:hover, #mashup span:hover{
	color:  #f07d00;
}

.jScrollPaneContainer {
	float: left;
	margin: 0 25px 0 0;
	padding: 0;
}    

/*li {
   padding-top: 16px;   
}  */

.jp-play {
	color: #fff; 
	background-color:#F07D00;
	padding: 4px;
}   

.jp-pause {
	color: #000; 
	background-color:#E6E6E6;
	padding: 4px;
}   

/* @maboa */     

#transcript-content span {
	cursor: pointer;
}    

#transcript-content span.transcript-grey:hover {  
	color: #f07d00; 
}
   

#transcript-content span:hover {  
	color: #f07d00; 
}

#transcript-content span.highlight {  
	color: #fff; 
}       

#transcript-content span.transcript-grey {
    color: #999;
}   
   
#instructions {   
	background-color:#E6E6E6;
	padding:16px; 	
}
